  body {
  background-image: url("https://i.imgur.com/WT80f0L.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  background-color: #fffeea;
}

#welcome-section {
    text-align: center;
    height: 100vh;
    font-size: 15pt;
  }
  @media (max-height:250px) {
    #welcome-section {
    text-align: center;
    height: 100vh;
    font-size: 12pt;
  }
  }
  h1 {
    padding-top: 45vh;
    font-family: monospace;
    color: black;
    font-weight: bold;
  }
  h2 {
    font-family: monospace;
    color: black;
    font-weight: bold;
    font-size: 14pt;
  }
  nav {
    text-align: right;
    position: fixed;
    background: #fffeea;
    opacity: .85;
    width: 100vw;
    padding-top: 20px;
    margin-top: -20px;
    margin-left: -20px;
    padding-bottom: 5px;
  }
  nav a {
    margin-right: 25px;
  }
  .navbar-link {
    text-decoration: none;
    font-family: monospace;
    color: black;
    font-weight: bold;
    font-size: 15pt;
  }
  a {
    text-decoration: none;
    font-family: monospace;
    color: black;
    font-weight: bold;
    font-size: 15pt;
  }
  #projects {
    padding-top: 35px;
  }
  #project-wrap {
    height: 100vh;
  }
  #projects a {
    text-decoration: none;
    font-family: monospace;
    color: black;
    font-weight: bold;
    font-size: 15pt;
  }
  #contact-wrap {
    padding-top: 35px;
  }
  #contact {
    height: 100vh;
  }