  body {
  background-color: #fffeea;
}

#welcome-section {
    text-align: center;
    font-size: 15pt;
    background-image: url("https://i.imgur.com/MTobY0A.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    background-color: black;
    padding-top: 0px;
  }
  #welcome-wrap {
    height: 100vh;
  }
  @media (max-width:750px) {
    #welcome-section {
    text-align: center;
    height: 100vh;
    font-size: 12pt;
  }
  }
  h1 {
    padding-top: 45vh;
    font-family: 'cherry cream soda';
    color: #fffeea;
    font-weight: bold;
  }
  h2 {
    font-family: monospace;
    color: black;
    font-weight: bold;
    font-size: 14pt;
  }
  h3 {
    text-decoration: none;
    font-family: monospace;
    color: black;
    font-weight: bold;
    font-size: 15pt;
  }
  nav {
    text-align: right;
    position: fixed;
    background: #fffeea;
    opacity: 1;
    width: 100vw;
    padding-top: 20px;
    margin-top: -20px;
    margin-right: -20px;
    padding-bottom: 5px;
  }
  li {
    display: flex;
    align-content: flex-end
  }
  nav a {
    margin-right: 25px;
  }
  .navbar-link {
    text-decoration: none;
    font-family: monospace;
    color: black;
    font-weight: bold;
    font-size: 15pt;
  }
  a {
    text-decoration: none;
    font-family: monospace;
    color: black;
    font-weight: bold;
    font-size: 15pt;
  }
  #projects {
    height: 35px;
    opacity: 0;
    pointer-events: none;
  }
  #project-wrap {
    height: 100vh;
  }
  #projectsWrapper {
    text-align: center;
    font-size: 15pt;
    background-image: url("https://i.imgur.com/0W9O6Z1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    padding-top: 0px;
    background-color: rgb(155, 129, 179);
  }
  #projects a {
    text-decoration: none;
    font-family: monospace;
    color: black;
    font-weight: bold;
    font-size: 15pt;
  }
  #contact-link {
    height: 35px;
  }
  #contact {
    height: 100vh;
    text-align: center;
    font-size: 15pt;
    background-image: url("https://www.muralswallpaper.com/app/uploads/newspaper-graffiti-plain-820x532@2x.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    padding-top: 0px;
    background-color: rgb(155, 129, 0);
  }
  .h1class {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fffeea;
    font-weight: bold;
  }
  .h2class {
    font-family: monospace;
    color: #fffeea;
    font-weight: bold;
    font-size: 14pt;
  }
  .h3class {
    text-decoration: none;
    font-family: monospace;
    color: black;
    font-weight: bold;
    font-size: 15pt;
  }
  #api-body {
    display: flex;
  }
  #api {
    height: 100vh;
    padding-top: 33px;
  }
  #randomVeh {
    color: black;
    font-weight: bold;
  }